In [9]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [30]:
engine = create_engine('sqlite:///latihan.db', echo=True)
Base = declarative_base()

In [31]:
class Building(Base):
    __tablename__ = 'building'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    description = Column(String)
    
    
    def __repr__(self):
        return f'<Building(name={self.name}, description={self.description})>'

In [33]:
# Create database with all of its tables
# Base.metadata.create_all(engine)

In [11]:
Session = sessionmaker(bind=engine)
session = Session()

In [18]:
b = Building()
b.name = 'ITEC'
b.description = 'Bangunan tempat kursus'
session.add(b)
session.commit()

2019-01-28 20:08:37,426 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-28 20:08:37,430 INFO sqlalchemy.engine.base.Engine INSERT INTO building (name, description) VALUES (?, ?)
2019-01-28 20:08:37,433 INFO sqlalchemy.engine.base.Engine ('ITEC', 'Bangunan tempat kursus')
2019-01-28 20:08:37,436 INFO sqlalchemy.engine.base.Engine INSERT INTO building (name, description) VALUES (?, ?)
2019-01-28 20:08:37,437 INFO sqlalchemy.engine.base.Engine ('ITEC', 'Bangunan tempat kursus')
2019-01-28 20:08:37,440 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
#access all data from Building
get_all = session.query(Building).all()
print(get_all)

2019-01-28 20:15:15,630 INFO sqlalchemy.engine.base.Engine SELECT building.id AS building_id, building.name AS building_name, building.description AS building_description
FROM building
2019-01-28 20:15:15,635 INFO sqlalchemy.engine.base.Engine ()
[<Building(name=ITEC, description=Bangunan tempat kursus)>, <Building(name=ITEC, description=Bangunan tempat kursus)>]

In [28]:
#get Building by its id, and get the first row of it
b1 = session.query(Building).filter_by(id=1).first()
print(b1.name)

2019-01-28 20:16:51,547 INFO sqlalchemy.engine.base.Engine SELECT building.id AS building_id, building.name AS building_name, building.description AS building_description
FROM building
WHERE building.id = ?
 LIMIT ? OFFSET ?
2019-01-28 20:16:51,551 INFO sqlalchemy.engine.base.Engine (1, 1, 0)
ITEC

In [29]:
#get Building by its id, and get the first row of it
b2 = session.query(Building).filter_by(name="ITEC").first()
print(b2.name)

2019-01-28 20:17:00,806 INFO sqlalchemy.engine.base.Engine SELECT building.id AS building_id, building.name AS building_name, building.description AS building_description
FROM building
WHERE building.name = ?
 LIMIT ? OFFSET ?
2019-01-28 20:17:00,810 INFO sqlalchemy.engine.base.Engine ('ITEC', 1, 0)
ITEC